.CreateLink {
  margin-top: 50px;
}
.create-link-btn {
  height: 35px;
  margin-top: 5px;
  padding: 2px 25px 2px 25px;
  background: transparent;
  border: 2px solid red;
  border-radius: 5px;
  color: red;
  font-weight: 600;
  font-size: 14px;
}
.create-link-btn:hover {
  background: red;
  border: none;
  padding: 4px 27px 4px 27px;
  border-radius: 5px;
  color: #fff;
}
.create-link-input {
  height: 40px;
  width: 300px;
  border: 2px solid red;
  border-radius: 5px;
}
